
h1#pra1{
    color: red;
}
.container{
    width: 300px;
    border-radius: 10px;
}

.col{
    border-radius: 10px;
    border: 1px solid blue;
    height: 100px;
    width: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.row{
    display: flex;
   
}
.col:hover{
    background-color:rgb(132, 205, 250);
}
.text{
    font-size: 20px;
}
h1{
    font-size: 50px;
    color: blue;
}